/**input field styling**/
::-webkit-input-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

/* -----------------------------------------
   INPUT FIELDS Styles
----------------------------------------- */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  outline: none;
  resize: none;
  background: #4F4F8C;
  border: none;
  box-shadow: none;
  color: #6A747B;
  margin: 0;
  padding: 10px;
  width: 100%; }

input[type="number"] {
  color: #000;
  font-family: 'Chivo-Black';
  background: #F2F2F2; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
  background: #F1185C; }

input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="week"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="time"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
textarea:hover,
select:hover {
  background: #F1185C; }

input[type="checkbox"] {
  margin: 5px 8px 0 0; }

input[type="checkbox"]:hover {
  cursor: pointer; }

input[type="number"] {
  padding: 0 0 0 10px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1; }

/*buttons*/
.button {
  background-color: #F1185C;
  border-radius: 3px;
  padding: 0.9rem 4rem;
  font-family: 'Chivo-Black'; }

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #10113D; }

/*fonts*/
@font-face {
  font-family: 'Chivo-Light';
  src: url("../fonts/Chivo-Light.eot");
  src: url("../fonts/Chivo-Light.woff2") format("woff2"), url("../fonts/Chivo-Light.woff") format("woff"), url("../fonts/Chivo-Light.ttf") format("truetype"), url("../fonts/Chivo-Light.svg#Chivo-Light") format("svg"), url("../fonts/Chivo-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo-Bold';
  src: url("../fonts/Chivo-Bold.eot");
  src: url("../fonts/Chivo-Bold.woff2") format("woff2"), url("../fonts/Chivo-Bold.woff") format("woff"), url("../fonts/Chivo-Bold.ttf") format("truetype"), url("../fonts/Chivo-Bold.svg#Chivo-Bold") format("svg"), url("../fonts/Chivo-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo-Black';
  src: url("../fonts/Chivo-Black.eot");
  src: url("../fonts/Chivo-Black.woff2") format("woff2"), url("../fonts/Chivo-Black.woff") format("woff"), url("../fonts/Chivo-Black.ttf") format("truetype"), url("../fonts/Chivo-Black.svg#Chivo-Black") format("svg"), url("../fonts/Chivo-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Chivo-Regular';
  src: url("Chivo-Regular.eot");
  src: url("Chivo-Regular.woff2") format("woff2"), url("Chivo-Regular.woff") format("woff"), url("Chivo-Regular.ttf") format("truetype"), url("Chivo-Regular.svg#Chivo-Regular") format("svg"), url("Chivo-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
/**COMMON CSS LINES**/
body {
  font-family: 'Chivo-Light'; }

.row {
  max-width: 80.5rem; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.left {
  float: left; }

.right {
  float: right; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.clear {
  clear: both; }

.center {
  margin: auto;
  text-align: center !important; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

.block {
  display: block; }

/**MARGIN**/
.margin-0 {
  margin: 0px !important; }

.margin-left-5 {
  margin-left: 5px; }

.margin-left-10 {
  margin-left: 10px; }

.margin-right-5 {
  margin-right: 5px; }

.margin-right-10 {
  margin-right: 10px; }

.margin-right-20 {
  margin-right: 20px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-10 {
  margin-bottom: 20px; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-10 {
  margin-top: 20px; }

/**PADDING**/
.padding-0 {
  padding: 0px; }

.padding-5 {
  padding: 5px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-10 {
  padding: 10px; }

.padding-15 {
  padding: 15px; }

.padding-20 {
  padding: 20px; }

.padding-left-10 {
  padding-left: 10px; }

.padding-right-10 {
  padding-right: 10px; }

/* -----------------------------------------
   Common Heading Styles
----------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: normal; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

p {
  font-family: 'Chivo-Light'; }

/*font colors and general styling for fonts*/
.color_white {
  color: #fff; }

.color_white p {
  color: #fff; }

.color_black {
  color: #000; }

.color_black p {
  color: #000; }

.background_blue {
  background-color: #272262; }

.background_dark_blue {
  background-color: #10113D; }

.background_pink {
  background-color: #EF185B; }

.color_blue p {
  color: #272262; }

.color_dark_blue p {
  color: #10113D; }

.color_pink p {
  color: #EF185B; }

.bold {
  font-weight: bold; }

.bolder {
  font-weight: bolder; }

.bold p {
  font-weight: bold; }

.bolder p {
  font-weight: bolder; }

/*header*/
header {
  border: 1px solid #272262;
  /* margin-bottom: 1.25rem;*/
  padding: 1.25rem;
  background: #272262; }
  header .cut {
    position: relative;
    cursor: pointer; }
    header .cut span {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 30px;
      color: white;
      border-radius: 20px;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
      top: -10px; }
    header .cut .fa {
      color: white;
      font-size: 40px; }

/*search bar*/
.search {
  width: 100%;
  position: relative; }
  .search .searchButton {
    position: absolute;
    left: 0px;
    width: 40px;
    height: 60px;
    border: none;
    background: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 0px; }
  .search input {
    border: 1px solid #515183;
    height: 60px;
    border-radius: 0px;
    outline: none;
    color: #fff;
    background: #515183;
    padding-left: 5%; }
    .search input:focus {
      color: #fff;
      background: #515183f2;
      border: 1px solid #515183f2; }

/*banner*/
#banner {
  margin-bottom: 1.25rem;
  position: relative;
  clear: both; }

/*banner*/
.tabs dd.active > a, .tabs .tab-title.active > a, .tabs dd > a:hover, .tabs .tab-title > a:hover {
  background-color: #F1185C;
  outline: none; }

.tabs dd > a,
.tabs .tab-title > a {
  padding: 0.8rem 4.5rem;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
  font-family: 'Chivo-Bold';
  color: white;
  background-color: #4A4A7F; }

.tabs .tab-title:last-child > a,
.tabs dd:last-child > a {
  margin-right: 0px; }

/*product*/
.product .small-12.medium-3.large-3.column {
  margin-bottom: 25px;
  text-align: center; }
  .product .small-12.medium-3.large-3.column .button {
    margin-top: -90px; }
  .product .small-12.medium-3.large-3.column:nth-of-type(1) .gradient_color {
    background: #22B573;
    background: linear-gradient(0deg, #26AFB4 8%, #22B573 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(2) .gradient_color {
    background: #7F47DD;
    background: linear-gradient(0deg, #FBAE17 8%, #7F47DD 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(3) .gradient_color {
    background: #9B9BD3;
    background: linear-gradient(0deg, #9B9BD3 8%, #9B9BD3 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(4) .gradient_color {
    background: #FBAE17;
    background: linear-gradient(0deg, #F14B5A 8%, #FBAE17 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(5) .gradient_color {
    background: #40CAEB;
    background: linear-gradient(0deg, #3993F2 8%, #40CAEB 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(6) .gradient_color {
    background: #8AC43E;
    background: linear-gradient(0deg, #36E9B4 8%, #8AC43E 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(7) .gradient_color {
    background: #8CC63F;
    background: linear-gradient(0deg, #BED72B 8%, #8CC63F 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(8) .gradient_color {
    background: #8CC63F;
    background: linear-gradient(0deg, #36E9B4 8%, #8CC63F 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(9) .gradient_color {
    background: #ED1C24;
    background: linear-gradient(0deg, #D4408F 8%, #ED1C24 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(10) .gradient_color {
    background: #D4145A;
    background: linear-gradient(0deg, #E31939 8%, #D4145A 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(11) .gradient_color {
    background: #39B54A;
    background: linear-gradient(0deg, #177B3F 8%, #39B54A 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(12) .gradient_color {
    background: #0071BC;
    background: linear-gradient(0deg, #80B360 8%, #0071BC 83%); }
  .product .small-12.medium-3.large-3.column:nth-of-type(13) .gradient_color {
    background: #39B54A;
    background: linear-gradient(0deg, #167A3E 8%, #39B54A 83%); }
.product .product_wrap {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px; }
  .product .product_wrap .icons {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 1rem; }
    .product .product_wrap .icons .fa {
      color: white;
      font-size: 35px;
      cursor: pointer; }
  .product .product_wrap img {
    z-index: 2;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 45px;
    right: 0px;
    left: 0px; }
  .product .product_wrap .gradient_color {
    position: relative;
    height: 252px; }
    .product .product_wrap .gradient_color .title {
      font-size: 125px;
      font-weight: 900;
      padding-top: 20px;
      opacity: 0.1; }
  .product .product_wrap .product_info {
    position: relative;
    z-index: 1;
    padding: 1.25rem; }
    .product .product_wrap .product_info:before {
      width: 140%;
      height: 50px;
      background-color: #fff;
      content: '';
      position: absolute;
      top: -23px;
      left: -20%;
      transform: rotate(-8deg);
      z-index: -1; }
  .product .product_wrap .price {
    font-family: 'Chivo-Black';
    color: #9999cc;
    font-size: 31pt; }
  .product .product_wrap .quantity {
    font-family: 'Chivo-light';
    font-size: 17pt; }
  .product .product_wrap .title {
    font-family: 'Chivo-Bold';
    font-size: 19pt; }
  .product .product_wrap .price,
  .product .product_wrap .title,
  .product .product_wrap .quantity {
    clear: both;
    display: block;
    text-align: center; }

/*pop up*/
.reveal-modal-bg {
  background: #272262;
  background: rgba(39, 34, 98, 0.87); }

.reveal-modal {
  max-width: 75.5rem;
  width: 100%;
  border-radius: 20px;
  outline: none; }
  .reveal-modal h1, .reveal-modal h2, .reveal-modal h3, .reveal-modal h4, .reveal-modal p {
    color: #666666; }
  .reveal-modal .modalTitle {
    color: #666666;
    text-transform: uppercase;
    font-family: 'Chivo-Black';
    margin: 0px 0px 1.25rem 0px; }
  .reveal-modal .modalSubTitle {
    font-family: 'Chivo-Black';
    margin: 0px 0px 1.25rem 0px; }
  .reveal-modal h3 {
    color: #262262;
    font-family: 'Chivo-Bold';
    text-transform: uppercase; }
  .reveal-modal h4 {
    font-family: 'Chivo-Black';
    color: #9999cc;
    font-size: 20px;
    margin: 0px 0px 1.25rem 0px; }
  .reveal-modal .wine p {
    margin: 0px; }
  .reveal-modal .close-reveal-modal {
    top: -5.375rem; }
  .reveal-modal input {
    margin: 0px 0px 1.25rem 0px;
    height: 3.3125rem; }

/*drop down*/
.f-dropdown.content {
  max-width: 500px;
  outline: none;
  border: none;
  border-radius: 5px; }
  .f-dropdown.content .border-bottom {
    border-bottom: solid 1px #DFDFDF;
    padding-bottom: 20px;
    border-top: solid 1px #DFDFDF;
    padding-top: 20px; }
  .f-dropdown.content h1 {
    font-family: 'Chivo-Bold';
    color: #666666;
    font-size: 20pt;
    margin: 0px 0px 1.25rem 0px; }
  .f-dropdown.content h2 {
    font-family: 'Chivo-Bold';
    color: #5AC974;
    font-size: 12.19pt;
    margin: 0px 0px 1.25rem 0px; }
  .f-dropdown.content h3 {
    color: #262262;
    font-family: 'Chivo-Black';
    font-size: 17.82pt; }
    .f-dropdown.content h3 span {
      color: #999999;
      font-size: 16.54pt; }
  .f-dropdown.content h4 {
    font-size: 9.27pt;
    font-family: 'Chivo-Bold';
    color: #808080;
    margin: 0px 0px 0.5rem 0px; }
  .f-dropdown.content .containner_drop {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden; }
  .f-dropdown.content .panel {
    color: #262262;
    font-family: 'Chivo-Black';
    font-size: 16pt;
    display: flow-root;
    margin-top: 1.25rem;
    padding: 0.5rem;
    border: none; }

.background-transparent {
  background: none;
  border: none; }
  .background-transparent .f-dropdown.content {
    display: block;
    left: initial;
    border-radius: 0px;
    border: none; }
    .background-transparent .f-dropdown.content::before, .background-transparent .f-dropdown.content::after {
      display: none; }
  .background-transparent .f-dropdown li:hover,
  .background-transparent .f-dropdown li:focus {
    background: none; }
  .background-transparent .tabs dd > a, .background-transparent .tabs .tab-title > a {
    height: 30px;
    width: 30px;
    padding: 0px;
    border-radius: 30px;
    position: relative; }
    .background-transparent .tabs dd > a::before, .background-transparent .tabs .tab-title > a::before {
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      position: absolute;
      right: 0px;
      left: 0px;
      top: -45px;
      border: none;
      margin: 0px;
      color: #fff;
      font-size: 12px;
      text-align: center;
      width: 50px;
      font-family: 'Chivo-Light'; }
  .background-transparent .tabs .tab-title:nth-of-type(1) a::before {
    content: 'Cart'; }
  .background-transparent .tabs .tab-title:nth-of-type(2n) a::before {
    content: 'Customer Info'; }
  .background-transparent .tabs .tab-title:nth-of-type(3n) a::before {
    content: 'Payment method'; }
  .background-transparent .tabs {
    display: inline-table;
    max-width: 20rem;
    margin-top: 40px;
    position: relative; }

/*----- accordion-----*/
.f-dropdown.content .accordion li a {
  padding: 1rem 1rem 1rem 1rem;
  text-transform: capitalize; }
.f-dropdown.content .accordion .accordion-navigation a {
  position: relative;
  background: #F2F2F2;
  margin-bottom: 10px; }
  .f-dropdown.content .accordion .accordion-navigation a:before {
    content: '\f054';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: 1rem;
    border: none;
    margin: 0px; }
  .f-dropdown.content .accordion .accordion-navigation a:after {
    content: '';
    width: 15px;
    height: 15px;
    border: solid 1px #CECECE;
    border-radius: 10px;
    position: absolute;
    left: 1rem; }
  .f-dropdown.content .accordion .accordion-navigation a img {
    margin-left: 35px; }
.f-dropdown.content .accordion .accordion-navigation .active.content {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px !important; }
.f-dropdown.content .accordion .accordion-navigation.active {
  background: #F2F2F2;
  padding: 10px;
  margin-bottom: 10px !important; }
  .f-dropdown.content .accordion .accordion-navigation.active a {
    background: #F2F2F2;
    margin-bottom: 0px; }
    .f-dropdown.content .accordion .accordion-navigation.active a::before {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
    .f-dropdown.content .accordion .accordion-navigation.active a:after {
      content: '';
      color: #F1185C;
      font-size: 18px;
      background: #F1185C; }
.f-dropdown.content .accordion h1 {
  font-size: 16.61pt;
  font-family: 'Chivo-Bold';
  color: #262262;
  margin: 0px; }
.f-dropdown.content .accordion h2 {
  font-size: 16.61pt;
  font-family: 'Chivo-Bold';
  color: #262262;
  margin: 1.25rem 0px 0px 0px; }
.f-dropdown.content .accordion h3 {
  font-family: 'Chivo-Black';
  font-size: 34.8pt;
  color: #262262;
  margin: 0px; }
.f-dropdown.content .accordion h4 {
  font-family: 'Chivo-light';
  font-size: 16.61pt;
  color: #262262; }
.f-dropdown.content .accordion ul, .f-dropdown.content .accordion ol, .f-dropdown.content .accordion dl {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem; }
  .f-dropdown.content .accordion ul li, .f-dropdown.content .accordion ol li, .f-dropdown.content .accordion dl li {
    margin-bottom: 1rem; }

/*----- google map-----*/
#map_canvas {
  height: 350px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }

/*footer*/
footer {
  padding: 1.25rem;
  background: #f2f2f2;
  color: #fff; }
  footer a {
    color: #fff; }

/*# sourceMappingURL=app.css.map */
